@font-face {
	font-family: 'Montserrat';
	src: url('./Fonts/Montserrat/Montserrat-Regular.woff2') format('woff2') url('./Fonts/Montserrat/Montserrat-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    padding: 50px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flowers{
    width: 100%;
    height: 560px;
}

.flowers__content{
    width: 100%;
    background: url(./img/подложка.png);
    background-size: 100% 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;

}
.flowers__flower{
    position: relative;
    left: -27%;
    top: -28%;
}
.flowers__form{
    top: 120px;
    position: absolute;
    width: 50%;
    display: flex;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    max-height: 350px;
}
.form__content{
    width: 50%;
    padding: 30px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
}
.form__content-form{
    width: 80%;
    margin: 0 auto;
}
.form__content-form input, button, textarea, h2{
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    color: #371030;
    background: none;
    border: none;
    font-size: 16px;
    letter-spacing: 0.04em;
}

.form__content-form h2{
    font-size: 15px;
    font-weight: 700;
}

.form__content-form input, textarea, input::placeholder, textarea::placeholder {
    border-bottom: 1px solid #371030;
    padding-bottom: 10px;
    color: #371030;
}

.form__content-form *:focus-visible{
    outline: none;
}

.form__content-form .name__phone{
    width: 45%;
}
.form__content-form #form__name{
    margin-right: 8%;
}
.form__content-form button{
    background: #FFB0BA;
    height: 55px;
    box-shadow: 3px 3px 0px 3px #DE8E98;
    border-radius: 100px;
    font-weight: 900;
    color: #9A3C48;
    font-size: 16px;
    cursor: pointer;
}
.flowers__form__img{
    max-width: 50%;
    height: 100%;
}
.flowers__form__img img{
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}